
 body{
     background-color: #93A603;
 }

 img{
     width: 15%;
 }

 figure{
     text-align: center;
 }

 .container{
     width: 80%;
     margin: auto;
 }

 h1,h2{
    font-size: 4em;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    text-align: center;
    color: #8C2703;
    
 }

 p{
     text-align: center;
     color: #F2A007;
     font-size: 2em;
 }


 .video{
    text-align:center;
    width: 50%;
    float: left;
 }
 footer{

    clear: both;
    background-color: #F2A007;
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
 }

 header{
     
    
    background-color: #F2A007;
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
 }